body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    place-content: center;

    height: 100%;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}

.title{
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 2.5em;
}

.btn{
    display: block;
    width: 100%;
    padding: 5px 5px;

    color: black;
    background-color: rgb(38 189 38);

    border-radius: 999px;
    text-decoration: none;
    text-align: center;
}