<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="The games api made in python">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">

    <title>Games API</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Games API</h1>
        <a class="btn" href="/docs">Docs</a>
    </div>
</body>
</html>